header.masthead h2 {
}

.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 1.0rem;
  line-height: 1.5;
  border-radius: .9rem;
}

.col-md-12.search-table-col {
  color: white;
}

